<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Title</title>
</head>
<body>
    <div>
        <span>Users Count:
        <span th:text="${userCount}" style="margin: 5px"></span>
        </span>
    </div>
    <div>
        <span>Items Count:
        <span th:text="${itemCount}" style="margin: 5px"></span>
        </span>
    </div>
    <div>
        <span>ItemsRecent Count:
        <span th:text="${itemRecentCount}" style="margin: 5px"></span>
        </span>
    </div>
</body>
</html>