<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Counters</title>
</head>
<body>
    <div style="margin: 5px">
        <span>Users Count:
            <span th:text="${userCount}"></span>
        </span>
    </div>
    <div style="margin: 5px">
        <span>Items Count:
            <span th:text="${itemCount}"></span>
        </span>
    </div>
    <div style="margin: 5px">
        <span>ItemsRecent Count:
            <span th:text="${itemRecentCount}"></span>
        </span>
    </div>
</body>
</html>